body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #141518;
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

#rating-container,
#thank-you-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 375px;
  height: fit-content;
  background-color: #1D232D;
  padding: 20px;
  flex-grow: 1;
  border-radius: 20px;
  margin: 100px;
}

/* Rating Component Styling */
#star-icon {
  position: relative;
  width: 20px;
  height: 20px;
  background: hsl(216, 12%, 54%);
  border-radius: 50%;
  z-index:1;
  padding: 5px;
}

#star-icon-img {
  width: 20px;
  z-index: 2;
  margin: 0px 10px 7px 0px;
  color: hsl(25, 97%, 53%);
}

#rating-text h2 {
  font-weight: 700;
}

#rating-text p,
#selection-text p {
  font-weight: 400;
  line-height: 24px;
  color: hsl(217, 12%, 63%);
}

#rating-icon-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 20px 0px;
}

.rating-button {
  flex-grow: 1;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #1E2630;
  color: hsl(217, 12%, 63%);
  font-size: 16px;
  font-weight: 700;
}

.rating-button:hover,
.rating-button:focus {
  color: white;
  background-color: #FB7616;
}

.submit-button {
  background-color: hsl(25, 97%, 53%);
  align-items: center;
  appearance: none;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform,opacity;
  z-index: 0;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
}

#resubmit-button {
  text-transform: none;
}

.submit-button:hover {
  background-color: white;
  color:hsl(25, 97%, 53%);
}

/* Thank You Page Styling */
#tablet-icon-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#selection-display {
  width: 50%;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  background-color: #282E39;
  border-radius: 25px;
  padding: 5px;
  margin: 25px auto;
}

#user-selection {
  color:hsl(25, 97%, 53%);
  font-size: 14px;
  font-family: 'Overpass', sans-serif;
  margin: 0px;
  height: fit-content;
}

#selection-text h2,
#selection-text p {
  text-align: center;
}

#selection-text h2 {
  font-weight: 700;
}

#selection-text p {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 415px) {
  #rating-container {
    width: 80%;
    min-width: 300px;
    max-width: 350px;
    margin: 40%;
    padding: 20px;
    flex-grow: 1;
  }

  #rating-text p,
  #rating-icon-row,
  .submit-button {
    width: 100%;
  }

  #rating-icon-row,
  #rating-text p {
    margin: 0px;
  }

}